<div id="<%= dom_id treatment %>">
  <p>
    <strong>Name:</strong>
    <%= treatment.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= treatment.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= treatment.date %>
  </p>

</div>
